:root {
  --bg: #f5f5f5; 
  --border: #a8a8a8;	
}

body{
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

.grid {
  
  background-image: url(../img/back.jpg);
  display: grid;
  width: 100%;
  height: 100%;
  
  grid-template-columns: 10fr 5fr;

  grid-template-rows: [header-top] 10vh [header-bottom  main-top] auto [main-bottom];

  grid-template-areas: "banner    banner"
                       "container menu";
  }

.grid > :nth-child(1) {
    background-color: var(--bg);
  
    grid-column-start: banner-start;
    grid-column-end: banner-end;
  
    grid-row-start: header-top;
    grid-row-end: header-bottom;
	
	border-bottom: 3px solid var(--border);
}

.grid > :nth-child(2) {  
    
    background-color: var(--bg);
    grid-row-start: header-bottom;
    grid-row-end: main-bottom;
	border-left: 30px solid (--border);
	margin-left: 20vw;
}

.grid > :nth-child(3) {
  	border-right: 3px solid (--border);
    background-color: var(--bg);
    grid-row-start: header-bottom;
    grid-row-end: main-bottom;
	
	margin-right: 20vw;
}

.logo{
    float: left;
	cursor: pointer;
	width: 15vh;;
	height: 8vh;
	margin: 1vh;
}

.search {
	height: 30px;
    width: 20vw;
    font-size: 18px;
    float: left;
    margin-top: 3vh;
    margin-left: 4vw;
    border-radius: 5px;
    
}

.header-button-right{
    font-size: 16px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	width: 8vh;;
	height: 8vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
	float: right;
}

.header-button-right:hover{
	font-size: 18px;
}

.post {
    min-width: 600px;
	margin: 1vh 2vw;
	border: solid 2px var(--border);
	border-radius: 15px;
    background-color: #dce6f2;
}

.post-pic {
    padding-left: 1.5vw;
    padding-top: 1.5vw;
    float: left;
}

.post-text {
    margin-left: 16%;
    margin-right: 2vw;
}

.post-img {
    width: 4vw;
    height: 4vw;
    min-width: 80px;
    min-height: 80px;
    border-radius: 10px;
}

.rating-text{
    font-size: 3vh;
    padding-bottom: 20px;
}

.rating-img {
    cursor: pointer;
    max-width: 70px;
    width: 7vw;
    height: 3vh;
}

.block{
    display:inline-block;
    vertical-align:middle;
}

.avatar {
	width: 4vw;
	height: 4vw;
}

.panel {
	background-color: white;
    margin: 1vh 2vh 1vw 0;
    border: solid 2px #bce8f1;
    border-radius: 10px;
}

.panel-head {
    color: #31709c;
    padding: 1vh 1vw;
    background-color: #d9edf7;
}

.panel-body {
    padding: 1vh 1vw;
}

.panel-2 {
	background-color: white;
    margin: 1vh 2vh 1vw 0;
    border: solid 2px #f2dede;
    border-radius: 10px;
}

.panel-head-2 {
    color: #b04465;
    padding: 1vh 1vw;
    background-color: #f2dede;
}
