*, *:before, *:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    height: 100%;
    background: #c1bdba;
    font-family: 'Titillium Web', sans-serif;
}

a {
    text-decoration: none;
    color: #1ab188;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

a:hover {
    color: #179b77;
}

body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

.login-img {
    margin-top: 10vh;
    max-width: 270px;
    float: left;
}

.form {
    background: white; /*rgba(19, 35, 47, 0.9);*/
    padding: 40px;
    max-width: 700px;
    margin: 40px auto;
    border-radius: 15px;
    border: 2px solid #179b77
    /*box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);*/
}

.inner {
    margin-left: 300px;
}

.panel {
    margin-top: 40px;
}

.tab-group {
    content: "";
    display: table;
    clear: both;
}

.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.tab-group li a:hover {
    background: #179b77;
    color: black;
}

h1 {
    text-align: center;
    color: black;
    font-weight: 300;
    margin: 0 0 40px;
}

label {
    position: absolute;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: black;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}

input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: black;
    border-radius: 10px;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
    resize: none;
}

input:focus, textarea:focus {
    outline: 0;
    border-color: #1ab188;
}

textarea {
    border: 2px solid #a0b3b0;
}

#id_title {
    placeholder: 'Заголовок';
    height: 10vh;
    height: 10vh;
}
#id_title::placeholder{
    text
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.button {
    display: block;
    width: 100%;
    border: 0;
    outline: none;
    border-radius: 10px;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.button:hover, .button:focus {
    background: #179b77;
}

