
.question {
    min-width: 600px;
	margin: 1vh 2vw;
	border: solid 2px var(--border);
	border-radius: 15px;
    background-color: transparent;
}

.answer {
    min-width: 600px;
	margin: 1vh 2vw;
	border: solid 2px var(--border);
	border-radius: 15px;
    background-color: white;
}

.post-pic {
    padding-left: 1.5vw;
    padding-top: 1.5vw;
    float: left;
}

.post-text {
	margin-top: 15px;
    margin-left: 20%;
    margin-right: 2vw;
}

.post-img {
    width: 4vw;
    height: 4vw;
    min-width: 80px;
    min-height: 80px;
    border-radius: 10px;
}

.rating-text{
    font-size: 3vh;
    padding-bottom: 20px;
}

.rating-img {
    cursor: pointer;
    max-width: 70px;
    width: 7vw;
    height: 3vh;
}

.block{
    display:inline-block;
    vertical-align:middle;
}

.avatar {
	width: 4vw;
	height: 4vw;
}

#id_text {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    height: 100px;
    min-width: 600px;
	margin: 1vh 0.5vw;
	border: solid 2px var(--border);
	border-radius: 15px;
    resize: none;
}

.panel-3 {
    background-color: white;
    margin: 1vh 2vw;
    border: solid 2px #f2dede;
    border-radius: 10px;
}

.panel-head-3 {
    color: #b04465;
    padding: 1vh 1vw;
    background-color: #f2dede;
}
