.grid {
  display: grid;
  width: 100%;
  height: 100%;
  
  grid-template-columns: 7fr 3fr;

  grid-template-rows: [header-top] 10vh [header-bottom  main-top] auto [main-bottom];

  grid-template-areas: "banner    banner"
                       "container menu";
  }

.grid > :nth-child(1) {
    background-color: #FCC;
  
    grid-column-start: banner-start;
    grid-column-end: banner-end;
  
    grid-row-start: header-top;
    grid-row-end: header-bottom;
}

.grid > :nth-child(2) {
    background-color: #CFC;
  
    grid-row-start: header-bottom;
    grid-row-end: main-bottom;
	
	margin-left: 10vw;
}

.grid > :nth-child(3) {
    background-color: #CCF;
  
    grid-row-start: header-bottom;
    grid-row-end: main-bottom;
	
	margin-right: 10vw;
}

.logo{
	cursor: pointer;
	width: 15vh;;
	height: 8vh;
	margin: 1vh;
}

.header-button-right{
	cursor: pointer;
	background-color: transparent;
	border: none;
	width: 8vh;;
	height: 8vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
	float: right;
}

.header-button-right:hover{
	font-size: 16px;
}

.post {
	margin: 1vh 2vw;
	border: solid 2px #333333;
	border-radius: 5px;
}

/*.post .left {
	position: absolute; left: 0; width: 30%;
}

.post .right {
	position: absolute; right: 0; width: 70%;
}*/

.block{
 display:inline-block;
 vertical-align:middle;
}

.avatar {
	width: 4vw;
	height: 4vw;
}