<!DOCTYPE HTML>

<html>

<head>
    <meta charset="utf-8">
    <title> {{ title }} </title>
    <link rel="stylesheet" type="text/css" href="../static/style/base.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
</head>

<body>
    <div class="grid">
        <div>
            <img src="../static/img/newlogo.png" class="logo" onclick="location.href = 'localhost:8000'">
            <input type="text" class='search' placeholder="Мы найдём! Только попроси...">
            <button class="header-button-right" onclick="location.href += 'login/'">Log out</button>
            <button class="header-button-right">Settings</button>
            <img src='../static/img/jc.png' class="header-button-right">
        </div>
        <div class='center'>
            {% for p in posts %}
                <div class="post">
                    <div class="post-pic">
                        <img class='post-img' src="../static/img/jc.png" />
                    </div>
                    <div class="post-text">
                        <h2>
                            {{ p.title }}
                        </h2>
                        {{ p.text }}
                        <p>Вопрос задан пользователем: {{ p.author }}</p>
                        <p>answers ( {{ p.answers }} ) Tags: stupid questions</p>

                        <div>
                            <img class="rating-img" src="../static/img/lois.png">
                            <font size='7' color='red'>{{ p.likes }}</font>
                            <img class="rating-img" src="../static/img/dislois.png">
                        </div>

                    </div>
                </div>
            {% endfor %}

        </div>
        <div>
            <div class='panel'>
                <div class='panel-head'>
                    #Tags
                </div>
                <div class="panel-body">
                    stupid questions cartoons 
                    games askYan 
                    RELATIONSHIPS 
                    c++
                </div>
            </div>
            
            <div class='panel-2'>
                <div class='panel-head-2'>
                    #Cytest Members
                </div>
                <div class="panel-body">
                    TheSlave Homer 
                    Me TheGodess 
                    KIM Neo Ms. Lollipop 
                </div>
            </div>
            
        </div>
    </div>
</body>

</html>