{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../static/css/login.css?v1.0">
{% endblock %}


{% block center %}
    <div class="form">
        <img class='login-img' src="../static/img/%D0%A1%D0%B8%D0%BC.png">
        <div class="inner">
                <div id="login">
                    <br>
                    <br>
                    <h1>Welcome Back!</h1>
                    <h4>
                        {% if error %}
                            {{ error }}
                        {% endif %}
                    </h4>
                    <form method="post"> {% csrf_token %}
                        <div class="field-wrap">
							{{ login_form.username }} </div>
						<div class="field-wrap">

							{{ login_form.password }} </div>
                        <p class="forgot"><a href="#">Forgot Password?</a></p>
                        <button class="button button-block"  type="submit" name="log"/>Log In</button>

                    </form>
                </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $("#id_username").attr('placeholder', 'Username');
    $("#id_password").attr('placeholder', 'Password');
</script>
{% endblock %}

