{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/question.css?v=1.2">
{% endblock %}

{% block center %}
    <div class='center'>
        <div class="question">
            <div class="post-pic">
                <img class='post-img' src="../static/img/jc.png"/>
                <p>TeeNik</p>

            </div>
            <div class="post-text">
                <h2>
                    {{ post.title }}
                </h2>
                {{ post.text }}
                <p>Tags: stupid questions</p>

                <div>
                    <img class="rating-img" src="../static/img/lois.png">
                    <font size='7' color='red'>5</font>
                    <img class="rating-img" src="../static/img/dislois.png">
                </div>

            </div>
        </div>

        {% for a in answers %}
            <div class="answer">
                <div class="post-pic">
                    <img class='post-img' src={{ a.author.avatar.url }}/>

                </div>
                <div class="post-text">
                    <p>{{ a.author }}</p>
                    {{ a.text }}

                    <div>
                        <img class="rating-img" id='like' src="../static/img/lois.png">

                        {% if a.likes >= 0 %}
                            <font id='score' size='7' color='green'>{{ a.likes }}</font>
                        {% else %}
                            <font id='score' size='7' color='red'>{{ a.likes }}</font>
                        {% endif %}

                        <img class="rating-img" id='dislike' src="../static/img/dislois.png">
                    </div>

                </div>
            </div>
        {% endfor %}

        <div class='panel-3'>
            <div class='panel-head-3'>
                Ваше мнение безусловно важно для всех
            </div>
            <div class="panel-body">
                <form method="post"> {% csrf_token %}
                    <div class="field-wrap">
                        {{ answer_form.text }}
                    </div>
                    <button type="submit" id='ques-button' class="button button-block"/>Отправить</button>
                </form>
            </div>
        </div>

    </div>
{% endblock %}