{% extends "base.html" %}
{%  load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/question.css">
{% endblock %}

{% block center %}
    <div class='center'>
        <div class="question">
            <div class="post-pic">
                <img class='post-img' src="../static/img/jc.png"/>
                <p>TeeNik</p>

            </div>
            <div class="post-text">
                <h2>
                   {{ post.title }}
                </h2>
                {{ post.text }}
                <p>Tags: stupid questions</p>

                <div>
                    <img class="rating-img" src="../static/img/lois.png">
                    <font size='7' color='red'>5</font>
                    <img class="rating-img" src="../static/img/dislois.png">
                </div>

            </div>
        </div>

        <div class="answer">
            <div class="post-pic">
                <img class='post-img' src="../static/img/jc.png"/>
                <p>TeeNik</p>
            </div>
            <div class="post-text">
                Вобщем такое дело. Вчера пацаны в классе говорили о программировании и я чтобы выпендриться сказал, что
                тоже умею программировать и знаю ассемблер. (на самом деле я конечно ничего не знаю) Так вот теперь меня
                добавили в конфу программистов. Они спрашивают у меня советы и задают вопросы, а я не знаю, че им
                отвечать. Подскажите какие-нибудь небольшие книги или может образовательные сайты. Нужно срочно

                <div>
                    <img class="rating-img" src="../static/img/lois.png">
                    <font size='7' color='red'>5</font>
                    <img class="rating-img" src="../static/img/dislois.png">
                </div>

            </div>
        </div>

        <div class="answer">
            <div class="post-pic">
                <img class='post-img' src="../static/img/jc.png"/>
                <p>TeeNik</p>
            </div>
            <div class="post-text">
                Вобщем такое дело. Вчера пацаны в классе говорили о программировании и я чтобы выпендриться сказал, что
                тоже умею программировать и знаю ассемблер. (на самом деле я конечно ничего не знаю) Так вот теперь меня
                добавили в конфу программистов. Они спрашивают у меня советы и задают вопросы, а я не знаю, че им
                отвечать. Подскажите какие-нибудь небольшие книги или может образовательные сайты. Нужно срочно

                <div>
                    <img class="rating-img" src="../static/img/lois.png">
                    <font size='7' color='red'>5</font>
                    <img class="rating-img" src="../static/img/dislois.png">
                </div>

            </div>
        </div>


    </div>
{% endblock %}